* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(steelblue, rgb(55, 150, 187), white);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 5px solid black;
  border-radius: 20px;
  height: 650px;
  width: 700px;
  background-image: url(background2.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mid-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  width: 500px;
}

.font {
  font-family: monospace;
  font-size: larger;
  font-weight: bold;
}

.player-ux {
  text-align: center;
  border: 5px solid black;
  border-radius: 20px;
  height: 370px;
  width: 200px;
  background: gold;
}

.emoji-size {
  height: 180px;
  width: 180px;
  border: 3px solid black;
  margin-left: 7.5px;
  margin-top: 8px;
  font-size: 135px;
  margin-bottom: 13px;
  background: whitesmoke;
}

.btn-cls {
  margin-top: 10px;
  padding: 9px 75px;
  border-radius: 20px;
  border: none;
  border: 3px solid limegreen;
  color: limegreen;
  background: none;
  font-size: 26px;
}

.btn-cls:hover {
  border: 2px solid white;
  background: limegreen;
  color: white;
}
.color-red {
  color: red;
}
.color-white {
  color: white;
}
.color-blue {
  color: blue;
}
.color-lg {
  color: darkblue;
}
.color-gold {
  color: gold;
}

.text-shadow {
  text-shadow: 1px 1px 1px black;
}
